html {
	font-family: sans-serif;
	font-size: 10px;
}

#pickd {
	min-width: 300px;
}

.container {
	padding: 2.5rem 0;
	margin: 0 auto;
	max-width: 1000px;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
