#cart {
	max-width: 75rem;
	font-size: 1.75rem;
	text-align: center;
}

#cart-title {
	margin-bottom: 5rem;
}

#product-summary {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#order-info {
	min-width: 30rem;
}

@media (max-width: 700px) {
	#product-summary {
		flex-direction: column-reverse;
	}

	#cart-title {
		margin-bottom: 0;
	}
}
