#interactive-display {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(50, 1fr);
	grid-template-rows: repeat(50, 1fr);
}

#jar {
	grid-column: 1 / 51;
	grid-row: 1 / 51;
	width: 100%;
}

.flavor,
.protein,
.fat,
.carb {
	width: 100%;
}

.flavor {
	grid-area: 9 / 15 / 19 / 25;
}

.protein {
	grid-area: 15 / 27 / 25 / 37;
}

.fat {
	grid-area: 23 / 15 / 33 / 25;
}

.carb {
	grid-area: 35 / 22 / 45 / 32;
}
