#nav-bar {
	display: flex;
	padding: 2rem 10%;
	margin: 2rem 0;
	justify-content: space-between;
	align-items: center;
}

.nav-buttons {
	padding: 1.5rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: #007f00;
}

.nav-buttons:hover {
	text-decoration: none;
	color: #4caf50;
	border-bottom: 5px solid #4caf50;
	margin-bottom: -5px;
	transition: all 0.2s ease-in-out;
}

#home-link {
	margin-right: 5rem;
}

#logo-image {
	width: 1.8rem;
	margin-right: 0.5rem;
}

@media (max-width: 700px) {
	#nav-bar {
		padding: 1rem 7.5%;
	}

	.nav-buttons {
		font-size: 1.75rem;
	}

	#home-link,
	#logo-image {
		border: none;
	}

	#build-link,
	#logo-name {
		display: none;
	}

	#logo-image {
		width: 3.5rem;
	}
}
